:root{
  --border-radius: 10px;
}
/*Header*/
.header-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: fixed;
  z-index: 20;
  width: 100%;
  left: 0;
}

.logo {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 4rem;
}
.other-links a{
  font-family: "JetBrains Mono";
  text-decoration: none;
}
.other-links {
  display: flex;
  justify-content: space-around;
  z-index: 3;
}
.header-links {
  border-radius: 4px;
  padding: 5px;
  color: black;
  cursor: pointer;
}
.header-links:hover {
  background-color: #23395d;
}

.home-container {
  position: relative;
  left: -1.9rem;
  width: 100vw;
  top: -2rem;
}
/* Head */
.home-head-container {
  height: 100vh;
  background-image: url('./assets/images/home-image.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  z-index: -4;
}
.home-head-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: -1;
}
.home-head-container div{
  margin-left: 20px;
  width: 30rem;
}
.home-head-container .learn-more-btn{
  width: 15rem;
  padding: 15px 0;
  font-size: 18px;
  border-radius: var(--border-radius);
  border: none;
  font-weight: 500;
  color: white;
  background-color: #e7853a;
  cursor: pointer;
  z-index: 10 !important;
}
/* VisionMission */
.vision-mission-container {
  margin-top: 30px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-row-gap: 20px;
}
.vision-mission-container .vision, .vision-mission-container .mission{
  width: 90%;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 45px rgba(0, 0, 0, 0.2);
}

/* Objectives */
.objectives-container {
  margin-left: 20px;
  margin-top: 30px;
}
.objectives-container .objectives-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 20px;
}
.objectives-container .objectives-cards .objective-card{
  cursor: pointer;
  width: 90%;
  height: 414px;
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.objectives-container .objectives-cards .objective-card.education{
  background-image: url("./assets/images/children-studying.jpg");
}
.objectives-container .objectives-cards .objective-card.health{
  background-image: url("./assets/images/girl-waving.jpg");
}
.objectives-container .objectives-cards .objective-card.training{
  background-image: url("./assets/images/training.jpg");
}
.objectives-container .objectives-cards .objective-card.food{
  background-image: url("./assets/images/food.jpg");
}
.objectives-container .objectives-cards .objective-card div{
  height: 60%;
  padding-left: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
  position: absolute;
  top: 50%;
  /* transform: translateY(-15%); */
  transform: translateY(70%);
  color: white;
  transition: all .3s linear;
}
.objectives-container .objectives-cards .objective-card:hover .objective-card-inner-container {
  transform: translateY(-15%);
}

/* CoreValues */
.core-values-container {
  padding:0 20px;
  margin-top: 30px;
  width: 100%;
}
.core-values-container .core-values-cards {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(214px, 1fr));
  grid-row-gap: 20px;
  justify-items: center;
}

.core-values-container .core-values-card {
  width: 214px;
  height: 123px;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding:5px 0;
  transition: transform .3s linear;
}
.core-values-container .core-values-card:hover {
  transform: scale(1.2);
}
.core-values-container .core-values-card img {
  width: 67px;
  height: 67px;
}

/* ApproachedOfDevelopment */
.approaches-development-container {
  margin-left: 20px;
}
.approaches-development-container .lists {
  margin-top: 5px;
}
.approaches-development-container .lists label{
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}
.approaches-development-container .lists div{
  margin-top: 5px;
}

/* Focused Programmatic area */
.programmatic-area-container {
  margin-left: 20px;
}
.programmatic-area-container div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 20px;
}
.programmatic-area-container div .focused-programmatic-card {
  width: 356px;
  height: 294px;
  box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: var(--border-radius);
}
.focused-programmatic-card img{
  width: 102px;
  height: 91px;
}
/*Target*/
.targets-container {
  margin-left: 20px;
  width: 97%;
}
.targets-container img{
  width: 100%;
  object-fit: cover;
  height: 255px;
}
.targets-container .target-people-area-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: 20px;
  align-items: center;
}
.organizational-structure-container {
  margin-left: 20px;
  width: 97%;
}
.organizational-structure-container div{
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-row-gap: 20px;
}
.organizational-structure-container div p{
  flex: 0.8;
}
.organizational-structure-container div img{
  width: 100%;
  object-fit: contain;
  height: 303.58px;
}

/* NetworkFunding */
.network-funding-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: 97%;
  grid-row-gap: 20px;
}
.network-funding-container .funding-container, .network-funding-container .network-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.network-funding-container .funding-container img, .network-funding-container .network-container img {
  width: 215px;
  height: 215px;
}
/*Organizational Strengths*/
.organizational-strengths-container .list-box {
  padding: 4px 20px 4px 3px;
  height: 30px;
  cursor: pointer;
  width: 100%;
  max-width: 50rem;
  margin-top: 5px;
  transition: all .3s linear;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: 500;
}
.organizational-strengths-container .list-box:hover {
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  font-weight: 600;
}

.footer-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #e7853a;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-row-gap: 20px;
  padding: 10px;
  color: white;
  font-size: 17px;
}
.footer-container .links a{
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: white;
}
.footer-container .contact p{
  margin-top: 10px;
}

/* Background */
.background-container {
  width: 50%;
  margin-top: 30px;
}

/*PageNotFound*/
.page-not-found-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
}

/* Tablets*/
@media only screen and (max-width: 768px) {
  /* VisionMission */
  .vision-mission-container .vision, .vision-mission-container .mission{
    width: 80%;
  }
}

/* Small devices */
@media only screen and (max-width: 600px) {
  * {
    margin-left: 0;
   }
  body {
    overflow-x: hidden;
  }
  .core-values-container {
    padding: 0;
  }

  .vision-mission-container {
    width: 100%;
  }

  .organizational-strengths-container .list-box {
    margin-top: 10px;
  }

  .approaches-development-container {
    width: 100%;
    margin-left: 2px;
    padding: 5px;
  }
  .approaches-development-container p{
    width: 97%;
  }
  .approaches-development-container .lists label{
    font-weight: 400;
  }
  .programmatic-area-container {
    margin-left: 0px;
    padding: 10px;
  }
  .programmatic-area-container div .focused-programmatic-card {
    width: 98%;
  }
  .targets-container {
    margin-left: 10px;
  }
  .organizational-structure-container {
    margin-left: 10px;
  }
  .organizational-strengths-container {
    margin-left: 10px;
  }
 .network-funding-container { 
    width: 100%;
  }
  .footer-container .links, .footer-container .contact, .footer-container .org-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .other-links {
    display: none;
  }
  .header-container {
    background-color: transparent;
  }
}

