@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat"
}
body {
  padding: 0 30px;
  overflow-x: hidden;
  background-color: white !important;
}
p {
  font-size: 15px;
}

h1, h5{
  font-family: "Irish Grover"
}
h1 {
  color: #e7853a;
}
